.navbar-light .navbar-nav .nav-link {
  background-color: rgb(248, 249, 250);
  color: #0909f3; /* Default text color */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #f70404; /* Text color on hover/focus */
}

.navbar-light .navbar-brand {
  display: flex;
  align-items: center;
}

/* Dropdown Styles */
.dropdown-menu {
  border: #ddd;
  box-shadow: none; /* Remove shadow */
}

/* Dropdown Item Styles */
.dropdown-item {
  background-color: rgb(248, 249, 250);
  color: #0606f4; /* Default text color */
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa; /* Light background on hover/focus */
  color: #0056b3; /* Text color on hover/focus */
}

/* Profile Icon Styles */
.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  color: #fdf9f9; /* Default icon color */
  background-color: transparent; /* Remove black background */
}

.profile-icon:hover,
.profile-icon:focus {
  color: #0056b3; /* Icon color on hover/focus */
}

/* Profile Image Container */
.profile-image-container {
  border-radius: 50%; /* Ensures the container is circular */
  overflow: hidden; /* Ensures the image does not overflow the container */
  background-color: transparent; /* Ensure no background color */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

/* Custom margin for login and register links */
.nav-link-right {
  margin-left: 40px; /* Distanza specifica a sinistra per spostare gli elementi verso destra */
}

.nav-link-separator {
  padding-right: 15px;
  margin-left: auto; /* Use auto margin to push the links to the far right */
}

/* Move profile dropdown to the right */
.profile-dropdown {
  margin-left: auto;
}

/* Center items in mobile view */
@media (max-width: 768px) {
  .navbar-nav {
    border-color: #0000ff;
    text-align: center;
    width: 100%;
  }
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
  }
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-toggle {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-link-right {
    margin-left: 0; /* Reset the left margin for mobile */
  }
  .nav-link-separator {
    margin-left: 0; /* Reset the left margin for mobile */
  }
}

/* Set the color for all heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0000ff; /* Set the desired blue color */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
