.pblsd-container {
  text-align: center;
  padding: 20px;
  background-color: #fafbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pblsd-container h1 {
  color: rgb(56, 5, 223);
  margin-bottom: 20px;
}

.pblsd-start-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pblsd-start-btn:hover {
  background-color: #0056b3;
}

.pblsd-responsive-iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #f6f4f4;
  padding-bottom: 56.25%;
  margin-bottom: 10px;
}

.pblsd-responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pblsd-quiz-container {
  width: 100%;
  margin-top: 0rem;
}

.pblsd-progress-bar {
  width: 100%;
  background-color: #ccc;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
  height: 30px;
  position: relative;
}

.pblsd-progress {
  height: 100%;
  border-radius: 25px;
  transition: width 1s linear, background-color 1s linear;
  display: flex;
  align-items: center;
}

.pblsd-question {
  font-size: 16px;
  margin-bottom: 20px;
}

.pblsd-option-btn {
  display: block;
  width: calc(100% - 40px);
  margin: 10px 20px;
  padding: 15px;
  font-size: 16px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pblsd-option-btn:hover {
  background-color: #0056b3;
}

.pblsd-option-correct {
  background-color: green !important;
  color: white;
}

.pblsd-option-incorrect {
  background-color: red !important;
  color: white;
}

.pblsd-results-container {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 1px;
}

.pblsd-results {
  max-width: 600px;
  margin: 0 auto;
}

.pblsd-pass-message {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pblsd-fail-message {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sad-face {
  font-size: 2rem;
}

.pblsd-incorrect-questions-title {
  font-weight: bold;
  margin-top: 20px;
}

.pblsd-incorrect-questions-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.pblsd-question-text {
  font-weight: bold;
}

.pblsd-incorrect-answer {
  color: red;
}

.pblsd-correct-answer {
  color: green;
}

.pblsd-retry-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.pblsd-retry-btn:hover {
  background-color: #0056b3;
}

/* Spinner Styles */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 120px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile Specific Styles */
@media (max-width: 767px) {
  .pblsd-container {
    margin-top: 100px;
  }

  .pblsd-question {
    font-size: 14px;
  }

  .pblsd-results {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
  }

  .pblsd-incorrect-questions-list {
    font-size: 14px;
  }

  .pblsd-responsive-iframe-container {
    padding-bottom: 120%;
  }

  .pblsd-responsive-iframe-container iframe {
    height: 100%;
    width: 100%;
  }
}

/* Larger screens */
@media (min-width: 768px) {
  .pblsd-container {
    margin-top: 100px;
  }

  .pblsd-container h1 {
    margin-top: 20px;
  }

  .pblsd-question {
    font-size: 18px;
  }

  .pblsd-responsive-iframe-container {
    padding-bottom: 66.25%;
  }
}

@media (min-width: 1024px) {
  .pblsd-container h1 {
    margin-top: 50px;
  }

  .pblsd-quiz-container {
    max-width: 800px;
  }

  .pblsd-results {
    max-width: 800px;
  }

  .pblsd-incorrect-questions-list {
    font-size: 16px;
  }

  .pblsd-responsive-iframe-container {
    width: 90%;
    height: 600px;
    padding-bottom: 0;
  }
}
