.servizio-civile-page-container {
  max-width: 1280px;
  margin: 8rem auto 0 auto; /* Ridotto il margine superiore */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.h1-blue {
  color: #0c0cecd9;
}
