/* General Styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Ensure navbar is fixed and visible at the top */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* High z-index to keep it on top */
}

/* Add a padding top to body to ensure space for fixed navbar */
body {
  padding-top: 80px; /* Adjust according to the height of your navbar */
}

/* Set the color for all heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0000ff; /* Set the desired blue color */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem; /* Responsive padding */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.profile-container {
  max-width: 700px;
  margin: 100px auto 0; /* Ensure space below the fixed navbar */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-field strong {
  font-weight: bold;
}

.profile-update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.profile-update-button:hover {
  background-color: #0056b3;
}
.blsd-container {
  margin-top: 80px; /* General top margin for all sizes. */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafbfb; /* Light background color */
  min-height: 100vh; /* Use min-height to accommodate content size */
}

.blsd-container h1 {
  color: rgb(56, 5, 223); /* Dark blue color for visibility */
  margin-bottom: 20px; /* Space below the title */
  position: relative; /* Required for z-index to take effect */
  z-index: 10; /* Ensures h1 is above other positioned elements */
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 66.25%; /* 16:9 Aspect ratio for non-mobile views */
  height: 0;
  margin-top: 20px; /* Ensures space between h1 and iframe */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white; /* Background color */
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .blsd-container {
    margin-top: 800px; /* Reduced margin top to better align with the navbar */
  }
  .responsive-iframe-container {
    position: relative;
    width: 100%; /* Maintain full width without extending beyond the viewport */
    padding-top: 80px;
    padding-bottom: 65%; /* Adjust padding-bottom to increase height slightly */
    overflow: visible; /* Continue to hide any overflow */
  }
  .responsive-iframe {
    transform: scale(1.2); /* Slightly reduce the scale for a better fit */
    transform-origin: top center; /* Adjust the origin of transformation to top center */
    width: 125%; /* Increase width slightly to enhance zoom while maintaining context */
    left: -5%; /* Adjust left to properly center the content within the viewport */
  }
}

@media (min-width: 768px) {
  .blsd-container {
    margin-top: 800px; /* Larger margin for tablets to ensure visibility below the navbar */
  }
}

@media (min-width: 1024px) {
  .blsd-container {
    margin-top: 700px; /* Adjusted top margin for larger screens */
  }
}
/* Aggiungi questa classe per nascondere un elemento */
.hidden {
  display: none;
}
/* PBLSD */
.pblsd-container h1 {
  color: rgb(56, 5, 223);
  margin-top: 490px; /* Margine superiore ridotto per schermi grandi */
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  font-size: 2rem;
}

.pblsd-correct-answer {
  color: green;
}

.pblsd-incorrect-answer {
  color: red;
}

.pblsd-question-text {
  color: black;
}

.pblsd-start-btn {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px auto;
  background-color: #007bff;
  color: rgb(251, 246, 246);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pblsd-start-btn:hover {
  background-color: #0056b3;
}

.pblsd-quiz-container {
  margin: 10px 0;
  width: 90%;
  max-width: 500px; /* Larghezza ridotta per schermi piccoli */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.pblsd-results-container {
  margin: 10px 0;
  width: 90%;
  max-width: 500px; /* Larghezza ridotta per schermi piccoli */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

.pblsd-progress-bar {
  width: 100%;
  height: 10px; /* Altezza regolata */
  margin-bottom: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pblsd-progress {
  height: 100%;
  width: 0%;
  background-color: green; /* Colore iniziale */
  transition: width 1s linear, background-color 1s linear;
}

.pblsd-question h2 {
  font-size: 0.8rem; /* Dimensione del font ridotta per le domande */
  font-weight: normal; /* Testo non in grassetto */
  color: rgb(56, 5, 223); /* Colore blu delle domande */
}

.pblsd-options {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pblsd-option-btn {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #062be5;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%; /* Larghezza totale per migliorare il target del tap */
  max-width: 300px; /* Limite di larghezza per schermi più grandi */
}

.pblsd-option-btn:hover {
  background-color: #e0e0e0;
}

.pblsd-option-correct {
  background-color: #28a745 !important;
  color: white !important;
}

.pblsd-option-incorrect {
  background-color: #dc3545 !important;
  color: white !important;
}

.pblsd-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pblsd-navigation button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pblsd-navigation button:hover {
  background-color: #0056b3;
}

.pblsd-navigation button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pblsd-results {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px; /* Margine superiore per i risultati */
  margin-bottom: 0px; /* Margine inferiore per separare dalla navbar */
}

.pblsd-results h2 {
  color: #007bff;
  font-size: 1.25rem;
}

.pblsd-results p {
  font-size: 1rem;
}

.pblsd-incorrect-questions-title {
  font-size: 1rem;
  color: #007bff;
  margin-top: 20px;
}

.pblsd-incorrect-questions-list {
  font-size: 0.9rem;
  color: #333;
}

/* Media Queries per schermi grandi */
@media (min-width: 768px) {
  .pblsd-container {
    margin-top: 50px; /* Visibilità del titolo per schermi grandi */
  }

  .pblsd-quiz-container,
  .pblsd-results-container {
    max-width: 600px;
  }

  .pblsd-option-btn {
    font-size: 1.125rem;
    max-width: 400px;
  }

  .pblsd-results h2,
  .pblsd-results p {
    font-size: 1.75rem;
  }
}

/* Media Queries per schermi piccoli */
@media (max-width: 768px) {
  .pblsd-quiz-container,
  .pblsd-results-container {
    padding: 1px; /* Ridotto padding per più spazio di visualizzazione */
    margin-top: 5px; /* Aumento dello spazio superiore per evitare sovrapposizioni */
    max-width: 100%; /* Aumento della larghezza massima per uso dello spazio */
  }
  .pblsd-start-btn {
    padding-top: 20px;
    margin-top: 50px;
  }
  .pblsd-container {
    margin-top: 100px; /* Diminuire il margin-top per smartphone */
    padding-top: 30px; /* Più spazio per evitare sovrapposizione con elementi fissi in alto */
  }

  .pblsd-progress-bar {
    height: 15px; /* Barra di progresso più alta per maggiore visibilità */
  }

  .pblsd-question {
    font-size: 0.8rem;
  }
}

.pblsd-responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect ratio per visualizzazioni non mobili */
  height: 0;
  margin-top: 20px; /* Spazio tra h1 e iframe */
}

.pblsd-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white; /* Colore di sfondo */
}

@media (max-width: 768px) {
  .pblsd-responsive-iframe-container {
    padding-bottom: 100%; /* Regolare l'aspect ratio per visualizzazioni mobili */
    height: 0;
  }

  .pblsd-responsive-iframe {
    width: 100%;
    height: 100%;
    transform: scale(1.1); /* Zoom nell'iframe */
    transform-origin: top left;
  }
}

@media (min-width: 1024px) {
  .pblsd-container {
    margin-top: 50px; /* Visibilità del titolo per schermi grandi */
  }

  .pblsd-quiz-container,
  .pblsd-results-container {
    max-width: 800px;
  }

  .pblsd-option-btn {
    font-size: 1.25rem;
    max-width: 500px;
  }

  .pblsd-results h2,
  .pblsd-results p {
    margin-top: 20px;
    font-size: 2rem;
  }

  .pblsd-container {
    padding-top: 10px; /* Più spazio per evitare sovrapposizione con elementi fissi in alto */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
  .sad-face {
    font-size: 3rem;
    color: red;
    text-align: center;
    margin-top: 20px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
  .sad-face {
    font-size: 3rem;
    color: red;
    text-align: center;
    margin-top: 20px;
  }
}

/* Custom Layouts for Each Page */
.home-page-container {
  max-width: 1280px;
  margin: 1700px auto 0 auto; /* Adjusted top margin for home page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.about-page-container {
  max-width: 1280px;
  margin: 920px auto 0 auto; /* Adjusted top margin for about page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.dove-siamo-page-container {
  max-width: 1280px;
  margin: 720px auto 0 auto; /* Adjusted top margin for dove siamo page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.formazione-page-container {
  max-width: 1280px;
  margin: 1500px auto 0 auto; /* Adjusted top margin for formazione page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.servizi-page-container {
  max-width: 1280px;
  margin: 120px auto 0 auto; /* Adjusted top margin for servizi page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.protezione-civile-page-container {
  max-width: 1280px;
  margin: 730px auto 0 auto; /* Adjusted top margin for protezione civile page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* Custom color for h1 */
.h1-blue {
  color: #0c0cecd9;
}

.servizio-civile-page-container {
  max-width: 1280px;
  margin: 1580px auto 0 auto; /* Adjusted top margin for servizio civile page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.solidarieta-page-container {
  max-width: 1280px;
  margin: 760px auto 0 auto; /* Adjusted top margin for solidarietà page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.sign-in-page-container {
  max-width: 1280px;
  margin: 780px auto 0 auto; /* Adjusted top margin for sign-in page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* Make form wider */
.sign-in-form .form-control {
  width: 100%;
  max-width: 900px; /* Maximum width for the form fields */
  margin: 0 auto; /* Center align the form fields */
}

.soccorso-page-container {
  max-width: 1280px;
  margin: 800px auto 0 auto; /* Adjusted top margin for soccorso page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.carousel-container {
  margin-top: 2rem;
}

.carousel-item img {
  max-width: 100%;
  height: auto; /* Ensures images fit well and are responsive */
}

/* Card Layout */
.card-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem; /* Additional margin for spacing between carousel and cards */
}

.uniform-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-bottom: 2rem; /* Space below each card */
}

.uniform-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.uniform-card img {
  width: 100%;
  height: auto;
}

/* Responsive Design */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
  .page-container {
    margin-top: 8rem; /* Increased top margin for mobile to ensure visibility below the navbar */
  }

  .card-row .col {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .uniform-card img {
    height: 200px; /* Fixed height for consistency on mobile */
  }

  .home-page-container {
    margin-top: 109rem; /* Specific top margin for home page */
    padding: 0 1rem;
  }

  .about-page-container {
    margin-top: 89rem; /* Specific top margin for about page */
    padding: 0 1rem;
  }

  .dove-siamo-page-container {
    margin-top: 30rem; /* Specific top margin for dove siamo page */
    padding: 0 1rem;
  }

  .formazione-page-container {
    margin-top: 150rem; /* Specific top margin for formazione page */
    padding: 0 1rem;
  }

  .servizi-page-container {
    margin-top: 10rem; /* Specific top margin for servizi page */
    padding: 0 1rem;
  }

  .protezione-civile-page-container {
    margin-top: 45rem; /* Specific top margin for protezione civile page */
    padding: 0 1rem;
  }

  .servizio-civile-page-container {
    margin-top: 120rem; /* Specific top margin for servizio civile page */
    padding: 0 1rem;
  }

  .solidarieta-page-container {
    margin-top: 10rem; /* Specific top margin per solidarietà page */
    padding: 0 1rem;
  }

  .sign-in-page-container {
    margin-top: 10rem; /* Specific top margin per sign-in page */
    padding: 0 1rem;
  }

  .soccorso-page-container {
    margin-top: 60rem; /* Specific top margin per soccorso page */
    padding: 0 1rem;
  }

  .sign-in-form .form-control {
    max-width: 100%;
  }

  .foot {
    padding: 0.5rem 0; /* Reduce padding for footer */
  }

  .foot li {
    padding: 0.25rem;
  }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .page-container {
    margin-top: 8rem; /* Slight top margin per tablets */
  }

  .card-row .col {
    flex: 1 0 48%;
    max-width: 48%;
  }

  .uniform-card img {
    height: 250px; /* Adjusted height for consistency on tablets */
  }

  .home-page-container {
    margin-top: 70rem; /* Specific top margin per home page */
    padding: 0 1.5rem;
  }

  .about-page-container {
    margin-top: 20rem; /* Specific top margin per about page */
    padding: 0 1.5rem;
  }

  .dove-siamo-page-container {
    margin-top: 30rem; /* Specific top margin per dove siamo page */
    padding: 0 1.5rem;
  }

  .formazione-page-container {
    margin-top: 75rem; /* Specific top margin per formazione page */
    padding: 0 1.5rem;
  }

  .servizi-page-container {
    margin-top: 8rem; /* Specific top margin per servizi page */
    padding: 0 1.5rem;
  }

  .protezione-civile-page-container {
    margin-top: 20rem; /* Specific top margin per protezione civile page */
    padding: 0 1.5rem;
  }

  .servizio-civile-page-container {
    margin-top: 70rem; /* Specific top margin per servizio civile page */
    padding: 0 1.5rem;
  }

  .solidarieta-page-container {
    margin-top: 20rem; /* Specific top margin per solidarietà page */
    padding: 0 1.5rem;
  }

  .sign-in-page-container {
    margin-top: 35rem; /* Specific top margin per sign-in page */
    padding: 0 1.5rem;
  }

  .soccorso-page-container {
    margin-top: 22rem; /* Specific top margin per soccorso page */
    padding: 0 1.5rem;
  }

  .sign-in-form .form-control {
    max-width: 90%; /* Adjust form width per tablets */
  }

  .foot {
    padding: 1rem 0; /* Adjust padding per footer */
  }

  .foot li {
    padding: 0.5rem;
  }
}
