/* General Styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.navbar-light .navbar-nav .nav-link {
  background-color: rgb(248, 249, 250);
  color: #0909f3; /* Default text color */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #f70404; /* Text color on hover/focus */
}

.navbar-light .navbar-brand {
  display: flex;
  align-items: center;
}

/* Dropdown Styles */
.dropdown-menu {
  border: #ddd;
  box-shadow: none; /* Remove shadow */
}

/* Dropdown Item Styles */
.dropdown-item {
  background-color: rgb(248, 249, 250);
  color: #0606f4; /* Default text color */
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa; /* Light background on hover/focus */
  color: #0056b3; /* Text color on hover/focus */
}

/* Profile Icon Styles */
.profile-icon {
  color: #fdf9f9; /* Default icon color */
  background-color: transparent; /* Remove black background */
}

.profile-icon:hover,
.profile-icon:focus {
  color: #0056b3; /* Icon color on hover/focus */
}

/* Custom margin for login and register links */
.nav-link-right {
  margin-left: 40px; /* Distanza specifica a sinistra per spostare gli elementi verso destra */
}

.nav-link-separator {
  padding-right: 15px;
  margin-left: auto; /* Use auto margin to push the links to the far right */
}

/* Center items in mobile view */
@media (max-width: 768px) {
  .navbar-nav {
    border-color: #0000ff;
    text-align: center;
    width: 100%;
  }
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
  }
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-toggle {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-link-right {
    margin-left: 0; /* Reset the left margin for mobile */
  }
  .nav-link-separator {
    margin-left: 0; /* Reset the left margin for mobile */
  }
}

/* Set the color for all heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0000ff; /* Set the desired blue color */
}

.piano-di-emergenza {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem; /* Responsive padding */
  text-align: center;
}

.piano-header {
  background-color: #fafbfb; /* Light background color */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  margin-top: 2200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width for alignment purposes */
}

.logo-pt-comune {
  max-width: 100px; /* Adjust the logo size */
  margin-bottom: 20px;
}

.download-button {
  margin-top: 100px;
  position: absolute;
  top: 90px; /* Adjust this value based on your navbar height */
  right: -1000px; /* Align it to the left side */
  z-index: 1000; /* Ensure it stays on top */
}

.download-button button {
  padding: 10px 20px;
  font-size: 16px;

  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button button:hover {
  background-color: #0056b3;
}

.piano-content {
  text-align: left;
  margin-top: 20px;
}

.piano-content section {
  margin-bottom: 20px;
}

.piano-content h2 {
  color: rgb(56, 5, 223); /* Dark blue color for visibility */
  margin-bottom: 10px; /* Space below the title */
}

.piano-content p {
  margin-bottom: 10px;
  line-height: 1.6; /* Improve readability */
}

/* Mobile Specific Styles */
@media (max-width: 767px) {
  .piano-header {
    text-align: center;
    margin-top: 2400px;
    padding: 15px;
  }

  .logo-pt-comune {
    max-width: 80px; /* Smaller logo for mobile */
  }

  .download-button {
    position: static; /* Make it inline for mobile */
    order: 2; /* Ensure it appears after the logo */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .download-button button {
    font-size: 14px; /* Smaller button text for mobile */
  }

  .piano-content {
    padding: 0 10px; /* Less padding for mobile */
  }

  .piano-content h2 {
    font-size: 18px; /* Smaller headings for mobile */
  }

  .piano-content p {
    font-size: 14px; /* Smaller text for mobile */
  }
}

/* Larger screens */
@media (min-width: 768px) {
  .piano-header {
    padding: 25px;
    flex-direction: column;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo-pt-comune {
    max-width: 120px; /* Larger logo for tablets and desktops */
    margin-bottom: 20px;
  }

  .download-button {
    position: fixed;
    top: 90px;
    left: 20px;
  }

  .download-button button {
    font-size: 18px; /* Larger button text for tablets and desktops */
  }

  .piano-content {
    padding: 0 20px; /* More padding for tablets and desktops */
  }

  .piano-content h2 {
    font-size: 22px; /* Larger headings for tablets and desktops */
  }

  .piano-content p {
    font-size: 16px; /* Larger text for tablets and desktops */
  }
}

@media (min-width: 1024px) {
  .piano-header {
    text-align: center;
    padding: 30px;
  }

  .logo-pt-comune {
    max-width: 150px; /* Even larger logo for desktops */
  }

  .download-button button {
    font-size: 20px; /* Even larger button text for desktops */
  }

  .piano-content {
    padding: 0 30px; /* Even more padding for desktops */
  }

  .piano-content h2 {
    font-size: 24px; /* Even larger headings for desktops */
  }

  .piano-content p {
    font-size: 18px; /* Even larger text for desktops */
  }
}

.pblsd-container {
  text-align: center;
  padding: 20px;
  background-color: #fafbfb; /* Light background color */
  min-height: 100vh; /* Use min-height to accommodate content size */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pblsd-container h1 {
  color: rgb(56, 5, 223); /* Dark blue color for visibility */
  margin-bottom: 20px; /* Space below the title */
}

.pblsd-start-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pblsd-start-btn:hover {
  background-color: #0056b3;
}

.pblsd-responsive-iframe-container {
  position: relative;
  padding-bottom: 150%; /* Adjusted for better readability on mobile */
  height: 0;
  overflow: hidden;
  width: 100%;
  background: #000;
  margin-bottom: 20px; /* Add space below the iframe */
}

.pblsd-responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pblsd-quiz-container {
  width: 100%;
  margin-top: 20px;
}

.pblsd-progress-bar {
  width: 100%;
  background-color: #ccc;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
  height: 30px;
  position: relative;
}

.pblsd-progress {
  height: 100%;
  border-radius: 25px;
  transition: width 1s linear, background-color 1s linear;
  display: flex;
  align-items: center;
}

.pblsd-question {
  font-size: 16px; /* Slightly smaller for better mobile display */
  margin-bottom: 20px;
}

.pblsd-option-btn {
  display: block;
  width: calc(100% - 40px);
  margin: 10px 20px;
  padding: 15px;
  font-size: 16px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pblsd-option-btn:hover {
  background-color: #0056b3;
}

.pblsd-option-correct {
  background-color: green;
}

.pblsd-option-incorrect {
  background-color: red;
}

.pblsd-results-container {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 20px;
}

.pblsd-results {
  max-width: 600px;
  margin: 0 auto;
}

.pblsd-pass-message {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pblsd-fail-message {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sad-face {
  font-size: 2rem;
}

.pblsd-incorrect-questions-title {
  font-weight: bold;
  margin-top: 20px;
}

.pblsd-incorrect-questions-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.pblsd-question-text {
  font-weight: bold;
}

.pblsd-incorrect-answer {
  color: red;
}

.pblsd-correct-answer {
  color: green;
}

.pblsd-retry-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0069d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.pblsd-retry-btn:hover {
  background-color: #0056b3;
}

/* Mobile Specific Styles */
@media (max-width: 767px) {
  .pblsd-container {
    margin-top: 800px; /* Increased margin for mobile view */
  }

  .pblsd-question {
    font-size: 14px; /* Smaller font size for better readability on mobile */
  }

  .pblsd-results {
    width: 90%;
    padding: 10px;
    margin-top: 100px; /* Increased margin top for mobile view */
  }

  .pblsd-incorrect-questions-list {
    font-size: 14px;
  }

  .pblsd-responsive-iframe-container {
    padding-bottom: 100%; /* Make iframe larger for better readability on mobile */
  }
}

/* Larger screens */
@media (min-width: 768px) {
  .pblsd-container {
    margin-top: 390px;
  }

  .pblsd-container h1 {
    margin-top: 100px; /* Adjust for larger screens */
  }

  .pblsd-question {
    font-size: 18px; /* Increase font size for larger screens */
  }

  .pblsd-responsive-iframe-container {
    padding-bottom: 66.25%; /* Standard 16:9 aspect ratio */
  }
}

@media (min-width: 1024px) {
  .pblsd-container h1 {
    margin-top: 150px; /* Adjust for even larger screens */
  }

  .pblsd-quiz-container {
    max-width: 800px;
  }

  .pblsd-results {
    max-width: 800px;
  }

  .pblsd-incorrect-questions-list {
    font-size: 16px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Custom Layouts for Each Page */
.home-page-container {
  max-width: 1280px;
  margin: 1700px auto 0 auto; /* Adjusted top margin for home page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.about-page-container {
  max-width: 1280px;
  margin: 920px auto 0 auto; /* Adjusted top margin for about page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.dove-siamo-page-container {
  max-width: 1280px;
  margin: 720px auto 0 auto; /* Adjusted top margin for dove siamo page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.formazione-page-container {
  max-width: 1280px;
  margin: 1500px auto 0 auto; /* Adjusted top margin for formazione page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.servizi-page-container {
  max-width: 1280px;
  margin: 120px auto 0 auto; /* Adjusted top margin for servizi page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.protezione-civile-page-container {
  max-width: 1280px;
  margin: 730px auto 0 auto; /* Adjusted top margin for protezione civile page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* Custom color for h1 */
.h1-blue {
  color: #0c0cecd9;
}

.servizio-civile-page-container {
  max-width: 1280px;
  margin: 1580px auto 0 auto; /* Adjusted top margin for servizio civile page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.solidarieta-page-container {
  max-width: 1280px;
  margin: 760px auto 0 auto; /* Adjusted top margin for solidarietà page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.sign-in-page-container {
  max-width: 1280px;
  margin: 780px auto 0 auto; /* Adjusted top margin for sign-in page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* Make form wider */
.sign-in-form .form-control {
  width: 100%;
  max-width: 900px; /* Maximum width for the form fields */
  margin: 0 auto; /* Center align the form fields */
}

.soccorso-page-container {
  max-width: 1280px;
  margin: 800px auto 0 auto; /* Adjusted top margin for soccorso page */
  padding: 0 2rem;
  text-align: center;
  box-sizing: border-box;
}

.carousel-container {
  margin-top: 2rem;
}

.carousel-item img {
  max-width: 100%;
  height: auto; /* Ensures images fit well and are responsive */
}

/* Card Layout */
.card-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem; /* Additional margin for spacing between carousel and cards */
}

.uniform-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-bottom: 2rem; /* Space below each card */
}

.uniform-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.uniform-card img {
  width: 100%;
  height: auto;
}

/* Responsive Design */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
  .page-container {
    margin-top: 8rem; /* Increased top margin for mobile to ensure visibility below the navbar */
  }

  .card-row .col {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .uniform-card img {
    height: 200px; /* Fixed height for consistency on mobile */
  }

  .home-page-container {
    margin-top: 109rem; /* Specific top margin for home page */
    padding: 0 1rem;
  }

  .about-page-container {
    margin-top: 89rem; /* Specific top margin for about page */
    padding: 0 1rem;
  }

  .dove-siamo-page-container {
    margin-top: 30rem; /* Specific top margin for dove siamo page */
    padding: 0 1rem;
  }

  .formazione-page-container {
    margin-top: 150rem; /* Specific top margin for formazione page */
    padding: 0 1rem;
  }

  .servizi-page-container {
    margin-top: 10rem; /* Specific top margin for servizi page */
    padding: 0 1rem;
  }

  .protezione-civile-page-container {
    margin-top: 45rem; /* Specific top margin for protezione civile page */
    padding: 0 1rem;
  }

  .servizio-civile-page-container {
    margin-top: 120rem; /* Specific top margin for servizio civile page */
    padding: 0 1rem;
  }

  .solidarieta-page-container {
    margin-top: 10rem; /* Specific top margin per solidarietà page */
    padding: 0 1rem;
  }

  .sign-in-page-container {
    margin-top: 10rem; /* Specific top margin per sign-in page */
    padding: 0 1rem;
  }

  .soccorso-page-container {
    margin-top: 60rem; /* Specific top margin per soccorso page */
    padding: 0 1rem;
  }

  .sign-in-form .form-control {
    max-width: 100%;
  }

  .foot {
    padding: 0.5rem 0; /* Reduce padding for footer */
  }

  .foot li {
    padding: 0.25rem;
  }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .page-container {
    margin-top: 8rem; /* Slight top margin per tablets */
  }

  .card-row .col {
    flex: 1 0 48%;
    max-width: 48%;
  }

  .uniform-card img {
    height: 250px; /* Adjusted height for consistency on tablets */
  }

  .home-page-container {
    margin-top: 70rem; /* Specific top margin per home page */
    padding: 0 1.5rem;
  }

  .about-page-container {
    margin-top: 20rem; /* Specific top margin per about page */
    padding: 0 1.5rem;
  }

  .dove-siamo-page-container {
    margin-top: 30rem; /* Specific top margin per dove siamo page */
    padding: 0 1.5rem;
  }

  .formazione-page-container {
    margin-top: 75rem; /* Specific top margin per formazione page */
    padding: 0 1.5rem;
  }

  .servizi-page-container {
    margin-top: 8rem; /* Specific top margin per servizi page */
    padding: 0 1.5rem;
  }

  .protezione-civile-page-container {
    margin-top: 20rem; /* Specific top margin per protezione civile page */
    padding: 0 1.5rem;
  }

  .servizio-civile-page-container {
    margin-top: 70rem; /* Specific top margin per servizio civile page */
    padding: 0 1.5rem;
  }

  .solidarieta-page-container {
    margin-top: 20rem; /* Specific top margin per solidarietà page */
    padding: 0 1.5rem;
  }

  .sign-in-page-container {
    margin-top: 35rem; /* Specific top margin per sign-in page */
    padding: 0 1.5rem;
  }

  .soccorso-page-container {
    margin-top: 22rem; /* Specific top margin per soccorso page */
    padding: 0 1.5rem;
  }

  .sign-in-form .form-control {
    max-width: 90%; /* Adjust form width per tablets */
  }

  .foot {
    padding: 1rem 0; /* Adjust padding per footer */
  }

  .foot li {
    padding: 0.5rem;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  margin-top: 700px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: orange;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
  background-color: #eaeaea;
}
input[type="range"] {
  -webkit-appearance: none; /* Per WebKit/Blink */
  -moz-appearance: none; /* Per Firefox */
  appearance: none; /* Proprietà standard */
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #f4f4f9;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000, #00ff00);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #000;
  height: 50px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000, #00ff00);
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ff0000;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #00ff00;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin-top: 0;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ff0000;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #00ff00;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000, #00ff00);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000, #00ff00);
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ff0000;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #00ff00;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin-top: 0;
  /* Needed to keep the Edge thumb centered */
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ff0000;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #00ff00;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  font-size: 16px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
  border-color: green;
  background-color: green;
}

input[type="checkbox"]:checked + label::after {
  content: "\2714"; /* Unicode character for check mark */
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 10px; /* Cambiato da 20px a 10px */
  border-radius: 5px; /* Cambiato da 10px a 5px */
  text-align: center;
  max-width: 300px; /* Limita la larghezza del modale */
}

.modal-content p {
  font-size: 14px; /* Cambiato da 18px a 14px */
  margin-bottom: 20px;
}

.modal-content button {
  padding: 9px 15px; /* Cambiato da 10px 20px a 5px 15px */
  font-size: 14px; /* Cambiato da 16px a 14px */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Specific styles for date and time input icons */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(53%) sepia(97%) saturate(1203%) hue-rotate(357deg)
    brightness(104%) contrast(104%);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  filter: invert(53%) sepia(97%) saturate(1203%) hue-rotate(357deg)
    brightness(104%) contrast(104%);
}

.percentage {
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
  color: #333;
}

label.range-label {
  margin-bottom: 20px;
}

/* Media query per la visualizzazione mobile */
@media (max-width: 600px) {
  .wrapper {
    margin-top: 1000px;
  }
  .checkbox-group {
    flex-direction: column;
  }

  .checkbox-column {
    width: 100%;
  }

  .checkbox-item {
    justify-content: flex-start;
  }

  .checkbox-item input[type="checkbox"] + label {
    padding-left: 25px;
  }
}

label.range-label {
  margin-bottom: 20px;
}

.profile-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-header {
  margin-top: 600px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-field {
  margin-bottom: 10px;
}

.profile-avatar {
  display: block;
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.profile-upload-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-upload-input {
  margin-bottom: 10px;
}

.profile-upload-button,
.profile-logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-logout-button {
  background-color: #dc3545;
}

.profile-upload-button:hover,
.profile-logout-button:hover {
  background-color: #0056b3;
}

.profile-logout-button:hover {
  background-color: #c82333;
}
/* lista users */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.user-list-container {
  padding: 20px;
  margin-top: 150px; /* Imposta un grande margine superiore */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; /* Centra il contenitore */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #eb8f05;
  font-size: 36px; /* Dimensione del font aumentata */
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(35, 13, 228, 0.1);
}

thead {
  background-color: #166ae0;
  color: #ffffff; /* Parole in bianco */
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #343a40;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.delete-button:hover {
  background-color: darkred;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  text-align: center;
}

.confirm-dialog p {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirm-dialog button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.confirm-dialog button:first-of-type {
  background-color: green;
  color: white;
}

.confirm-dialog button:last-of-type {
  background-color: red;
  color: white;
}

@media (max-width: 600px) {
  .user-list-container {
    margin-top: 400px; /* Aumenta il margine superiore per la vista mobile */
    padding: 10px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 2rem 0 1rem 0; /* Aumenta il margine superiore */
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px; /* Bordi arrotondati per le righe della tabella */
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
    white-space: pre-wrap; /* Permette la divisione delle parole lunghe */
    word-wrap: break-word;
  }

  td:before {
    position: absolute;
    top: 10px;
    left: -5px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    background-color: #f9f9f9;
  }

  td:nth-of-type(1):before {
    content: "Nome";
  }
  td:nth-of-type(2):before {
    content: "Cognome";
  }
  td:nth-of-type(3):before {
    content: "Email";
  }
  td:nth-of-type(4):before {
    content: "Città";
  }
  td:nth-of-type(5):before {
    content: "Residenza";
  }
  td:nth-of-type(6):before {
    content: "Data di nascita";
  }
  td:nth-of-type(7):before {
    content: "Azioni";
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.checklist-container {
  padding: 20px;
  margin-top: 100px; /* Ensure the content starts below the navbar */
  max-width: 1200px;
  margin: 100px auto; /* Center the container */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 600px;
  text-align: center;
  margin-bottom: 20px;
  color: #f77706;
  font-size: 36px; /* Increased font size */
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(35, 13, 228, 0.1);
}

.styled-table thead {
  background-color: #166ae0;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #343a40;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .checklist-container {
    margin-top: 150px; /* Increase the top margin for mobile view */
    padding: 10px;
  }

  .styled-table thead {
    margin-top: 500px;
    display: none;
  }

  .styled-table,
  .styled-table tbody,
  .styled-table tr,
  .styled-table td {
    display: block;
    width: 100%;
  }

  .styled-table tr {
    margin-bottom: 15px;
  }

  .styled-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .styled-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .styled-table td:last-child {
    border-bottom: 2px solid #343a40;
  }
}
